<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <% if user_signed_in? %>
        <%= link_to rooms_path, class: 'navbar-brand' do %>
          <%= image_tag 'logo.png', alt: 'Lyria' %>
        <% end %>
      <% else %>
        <%= link_to root_path, class: 'navbar-brand' do %>
          <%= image_tag 'logo.png', alt: 'Lyria' %>
        <% end %>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="navbar-text">
            Logged in as <strong><%= current_user.name %></strong>
          </li>
          <li>
            <%= link_to rooms_path do %>
              <i class="glyphicon glyphicon-th-list" aria-hidden="true"></i>
              <span>Chat rooms</span>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="glyphicon glyphicon-log-out" aria-hidden="true"></i>
              <span>Logout</span>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to new_user_session_path do %>
              <i class="glyphicon glyphicon-log-in" aria-hidden="true"></i>
              <span>Login</span>
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path do %>
              <i class="glyphicon glyphicon-link" aria-hidden="true"></i>
              <span>Sign up</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
