<div class="container m-t-lg m-b-md">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading text-center">
          <h3 class="panel-title">
            <%= @room.title %>
          </h3>

          <span class="small">
            <%= @room.description %>
          </span>
        </div>

        <div class="panel-body">
          <div id="messages" data-room-id="<%= @room.id %>">
            <% if @room.messages.count > 0 %>
              <%= render @room.messages %>
            <% else %>
              <p class="text-muted text-center">
                <em>No messages were sent yet.</em>
              </p>
            <% end %>
          </div>
        </div>
      </div>

      <%= form_for @message, url: '#' do |f| %>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-comment" aria-hidden="true"></i>
            </span>

            <%= f.text_area :body, class: 'form-control', placeholder: 'Your message...', minlength: '2',
                            maxlength: '1000', required: true %>
          </div>

          <small class="text-muted">From 2 to 1000 characters</small>
        </div>

        <%= button_tag type: 'submit', class: 'btn btn-primary' do %>
          <i class="glyphicon glyphicon-send" aria-hidden="true"></i>
          <span class="m-l-xs">Send message</span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
