<div class="container m-t-lg m-b-md">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading text-center">
          <h3 class="panel-title">
            <a class="show-users-list pull-right" role="button" data-toggle="collapse" href="#collapseUsersList"
               aria-expanded="false" aria-controls="collapseUsersList" title="Show messaged users">
              <i class="glyphicon glyphicon-menu-down" aria-hidden="true"></i>
            </a>

            <%= @room.title %>
          </h3>

          <span class="small">
            <%= @room.description %>
          </span>

          <div class="collapse users-list" id="collapseUsersList">
            <ul class="list-inline">
              <% if @room.messages.count == 0 %>
                <li>
                  <em>No users messaged yet.</em>
                </li>
              <% else %>
                <% @room.messages.map(&:user).uniq.each do |user| %>
                  <li>
                    <%= content_tag :a, role: 'button', tabindex: 0, title: "About #{user.username}", class: 'card-link',
                                    data: {toggle: 'popover', trigger: 'focus', placement: 'bottom', html: true,
                                           content: "#{render partial: 'shared/user_card', locals: {user: user}}"} do %>
                      <i class="glyphicon glyphicon-user user-<%= user.id %> online_status <%= 'online' if user.online? %>"
                         aria-hidden="true"></i>
                      <%= user.username %>
                    <% end %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="panel-body">
          <div id="messages" data-room-id="<%= @room.id %>">
            <% if @room.messages.count > 0 %>
              <%= render @room.messages %>
            <% else %>
              <p class="text-muted text-center">
                <em>No messages were sent yet.</em>
              </p>
            <% end %>
          </div>
        </div>

        <div class="panel-footer text-center">
          We support <a href="http://daringfireball.net/projects/markdown" target="_blank">Markdown</a>:
          use <code>**Bold**</code> for <strong>Bold</strong> styling, <code>*Italic*</code> for <em>Italic</em>
          styling or <code>`monospace`</code> for <code>monospace</code> styling
        </div>
      </div>

      <%= form_for @message, url: '#' do |f| %>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-comment" aria-hidden="true"></i>
            </span>

            <%= f.text_area :body, class: 'form-control vertical', placeholder: 'Your message...', minlength: '2',
                            maxlength: '1000', required: true %>
          </div>

          <small class="text-muted">From 2 to 1000 characters</small>
        </div>

        <%= button_tag type: 'submit', class: 'btn btn-primary' do %>
          <i class="glyphicon glyphicon-send" aria-hidden="true"></i>
          <span class="m-l-xs">Send message</span>
        <% end %>

        <span class="text-muted hidden-xs">
          or press <kbd><kbd>Shift</kbd> + <kbd>Enter</kbd></kbd>
        </span>
      <% end %>
    </div>
  </div>
</div>
